<section class="slice slice-lg">
<div class="container no-padding">
    <div class="mb-md text-center">
        <h3 class="heading h3">Tones of features</h3>
        <div class="fluid-paragraph text-center mt-4">
            <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
        </div>
    </div>

    <div class="card-deck">        
        <div data-aos="flip-left" class="card box-shadow-3--hover">
                <%= image_tag("img-12.jpg", width: '100', alt: "Image placeholder", class: "card-img-top") %>
                <div class="px-2">
                    <div class="card-body">
                        <div class="border-bottom pb-3 mb-4">
                            <h5 class="heading h5">Contrats Entreprises à partir de 13,50 €/mois par salarié</h5>
                        </div>
                        <p>Contrats santé collectifs dans le cadre de la mise en place d’une mutuelle généralisée pour tous les salariés au 1er janvier 2016 : des offres qui vous correspondent.</p>
                    </div>
                </div>
                <div class="card-footer px-0 py-0 border-0 overflow-hidden">
                    <a href="#" class="btn btn-block btn-primary rounded-0">Complémentaires salariés</a>
                </div>
    
        </div>               
        <div data-aos="flip-down" class="card box-shadow-3--hover">
            <%= image_tag("img-9.jpg", width: '100', alt: "Image placeholder", class: "card-img-top") %>
            <div class="px-2">
                <div class="card-body">
                    <div class="border-bottom pb-3 mb-4">
                        <h5 class="heading h5">Surcomplémentaire santé à partir de 13 €/mois</h5>
                    </div>
                    <p>Des offres santé pour compléter votre contrat collectif ou individuel, et diminuer voire supprimer votre reste à charge.</p>
                </div>
            </div>
            <br>
            <div class="card-footer px-0 py-0 border-0 overflow-hidden">
                <a href="#" class="btn btn-block btn-primary rounded-0">Toutes les offres</a>
            </div>
        </div>
        <div data-aos="flip-right" class="card box-shadow-3--hover">
            <%= image_tag("img-8.jpg", width: '100', alt: "Image placeholder", class: "card-img-top") %>
            <div class="px-2">
                <div class="card-body">
                    <div class="border-bottom pb-3 mb-4">
                        <h5 class="heading h5">Contrats prévoyance. Capital décès à partir de 5,70 €/an</h5>
                    </div>
                    <p>Une garantie pour se protéger en cas d’incapacité de travail et transmettre un capital à ses proches en cas de décès.</p>
                </div>
            </div>
            <br><br>
            <div class="card-footer px-0 py-0 border-0 overflow-hidden">
                <a href="#" class="btn btn-block btn-primary rounded-0">En savoir plus</a>
            </div>
        </div>                     
    </div>
</div>
</section>