<section class="spotlight bg-cover bg-size--cover flip-banner" data-spotlight="fullscreen">

        <div class="container py-md d-flex align-items-center pt-lg-xl">

                <div class="row align-items-center justify-content-center h-100 mt-5 pt-5">
                    <div class="col-md-6 col-lg-6 text-left">
                        <h1 class="text-white lh-150 mb-4"><b>Les meilleures mutuelles et prevoyance pour votre projet santé</b></h1>
                    </div>

                    <div class="col-md-6 col-lg-6 text-right flip-circle-button">
                        <%= link_to contrats_formulaire_path do %>
                            <%= image_tag("circle-btn.png", alt: "Image placeholder", class: "banner-circle") %>
                        <% end %>
                    </div>
                </div>
            
        </div>            
     
</section>