<section class="spotlight bg-cover bg-size--cover flip-banner" data-spotlight="fullscreen">
        <div class="spotlight-holder" style="height: 949px;">
            <span class="mask bg-gradient-primary opacity-6"></span>
            <div class="container py-md d-flex align-items-center pt-lg">
                <div class="col pt-md pt-lg-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-7 text-center">
                            <h1 class="text-white lh-150 mb-4">Keep your face always toward the sunshine - and shadows will fall behind you.</h1>
                            <ul class="list-inline">
                                <li class="list-inline-item text-white">August 21, 2018</li>
                                <li class="list-inline-item text-white">Written by Destiny Erykah</li>
                            </ul>
                            <span class="clearfix"></span>
                            <a href="#" class="btn btn-white btn-circle btn-icon mt-4">
                                <span class="btn-inner--text">Continue reading</span>
                                <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>