<section class="slice slice-lg" id="sct_features">
<a href="#sct_features" class="tongue tongue-up tongue-secondary scroll-me"><i class="fas fa-angle-up"></i></a>
<div class="container">
    <div class="mb-md text-center">
        <h3 class="h3">Really useful features</h3>
        <div class="fluid-paragraph text-center mt-4">
            <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5>Latest Bootstrap Framework</h5>
                    <p class="mb-0">We build responsive, mobile-first themes with the world s most popular front-end component library</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fab fa-sass"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5>Built with Sass <small>(included)</small></h5>
                    <p class="mb-0">Change one variable and the theme adapts. Colors, fonts, sizes ... you name it.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fab fa-sass"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5>700+ Components</h5>
                    <p class="mb-0">Nicely customized components that can be reused anytime and anywhere in your project.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fas fa-tint"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5 class="font-weight-bold">Extended color palette</h5>
                    <p class="mb-0">A beautiful color palette that can be easily modified with our nicely coded Sass files.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fas fa-code"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5 class="font-weight-bold">15+ Integrated Plugins</h5>
                    <p class="mb-0">Get even more functionality with the ready to use plugins we have integrated in this theme for you.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fas fa-font"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5 class="font-weight-bold">Font and SVG icons</h5>
                    <p class="mb-0">One nice collection of icons so you can add a more intuitive and playful touch to your website.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>