<section class="slice slice-lg" id="sct_features">
<br><br><br><br><br>
<a href="#sct_features" class="tongue tongue-up tongue-secondary scroll-me"><i class="fas fa-angle-up"></i></a>
<div class="container">
    <div class="mb-md text-center">
        <h3 class="h3">Pourquoi choisir LHEL assurance pour son projet santé ?</h3>
        <div class="fluid-paragraph text-center mt-4">
            <p class="lead lh-180"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fa fa-percent"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5>Gain de temps</h5>
                    <p class="mb-0">Un seul rendez-vous pour trouver la meilleure mutuelle sur le marché en toute impartialité sans vous déplacer au sein des assurances santé</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fa fa-user-clock"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5>Gagnez de l’argent</h5>
                    <p class="mb-0">un large portefeuille d’assureurs partenaires pour concrétiser votre projet santé au meilleur prix</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fa fa-hands-helping"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5>Accompagnement Expert</h5>
                    <p class="mb-0">un accompagnement pas à pas tout au long de votre projet santé</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-5">
            <div class="d-flex align-items-start">
                <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                    <i class="fa fa-map-marked"></i>
                </div>
                <div class="icon-text pl-4">
                    <h5>Proximité</h5>
                    <p class="mb-0">Parce que la proximité est au cœur de notre relation, LHEL vous accueille dans son agence ou vous répond rapidement</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>