<section class="slice slice-lg bg-primary">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-lg-7 order-lg-2 ml-lg-auto">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.0981057750273!2d1.322196715491434!3d43.45854897912841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aec9ca461d4517%3A0x5472664b5132917a!2s10%20Rue%20Gustave%20Saint-Jean%2C%2031600%20Muret!5e0!3m2!1sfr!2sfr!4v1596033586786!5m2!1sfr!2sfr"
                frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>

            <div class="col-lg-5 order-lg-1">
                <div class="pr-lg-5">
                    <h3 class="heading h3 text-white">Retrouvez notre agence LHEL !</h3>
                    <p class="lead text-white my-4">Nous sommes là pour vous aider. L'agence LHEL vous accueille tous les jours dans ses locaux.</p>
                </div>
            </div>
        </div>
    </div>
</section>