<section class="slice slice-lg pt-md-xl bg-secondary">
<div class="container">
    <div class="mb-md text-center">
        <h3 class="h3">Customize with confidence</h3>
        <div class="fluid-paragraph text-center mt-4">
            <p class="lead lh-180">Customization has never been easier. Purpose has all the right tools in order to make your website building process a breeze.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h6 class="text-primary mb-3">Customize your website using Sass</h6>
            <div class="frame-browser shadow-lg">
                <div class="frame-header d-flex align-items-center floatfix">
                    <div class="col-6">
                        <span class="dot bg-red"></span>
                        <span class="dot bg-orange"></span>
                        <span class="dot bg-blue"></span>
                    </div>
                    <div class="col-6 text-right">
                        <small class="text-muted">SCSS</small>
                    </div>
                </div>
                <div class="frame-body">
<pre class="highlight css">
<code>
/* Insert your brand's colors and the theme will adapt */

$primary:       #510FA8;
$secondary:     #f5f5fd;
$success:       $green;
$info:          $teal;
$warning:       $orange;
$danger:        $red;
</code>
</pre>
                </div>
            </div>
            <div class="mt-5">
                <p>After changing the Sass variables, simply rung the <code>gulp</code> command from your terminal and you're done. <a href="./docs/gulp.html" target="_blank">Learn more here</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <h6 class="text-primary mb-3">Make use of the pre-defined helper classes</h6>
            <div class="frame-browser shadow-lg">
                <div class="frame-header d-flex align-items-center floatfix">
                    <div class="col-6">
                        <span class="dot bg-red"></span>
                        <span class="dot bg-orange"></span>
                        <span class="dot bg-blue"></span>
                    </div>
                    <div class="col-6 text-right">
                        <small class="text-muted">HTML</small>
                    </div>
                </div>
                <div class="frame-body">
<pre class="highlight html">
<code>
/* Add a shadow effect with just one CSS class */
&lt;div class="card shadow"&gt;
...
&lt;/div&gt;

/* Add a smooth button animation on hover */
&lt;a href="#" class="btn btn-primary btn-translate--hover"&gt;
...
&lt;/a&gt;
</code>
</pre>
                </div>
                </div>
                <div class="mt-5">
                    <p>Check out all the pre-defined modifier classes and see how they can help you. <a href="./docs/customization.html" target="_blank">Learn more here</a>
                    </p>
                </div>
        </div>
    </div>
</div>
</section>