<section class="slice slice-lg bg-secondary" data-delimiter-before="1" data-delimiter-after="1">
    <div class="container">
        <div class="mb-md text-center">
            <h3 class="heading h2">LHEL Mag :</h3>
            <div class="fluid-paragraph mt-3">
                <p class="lead">Conseils pratiques pour la réussite de vos projets</p>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-lg-4">
            <a href="/blog/article">
                </a><div class="card shadow-sm shadow--hover"><a href="/blog/article">
                    <img alt="Image placeholder" class="card-img-top" src="/assets/prv/img-1-800x600-5c1720b53539145daa8b1c3f7527d39917130c2734f278585416bbd850574d1e.jpg">
                    <div class="card-body py-5 text-center">
                        <h5 class="lh-150">Choose the best solution for your business</h5>
                        <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                    </div>
                    </a><div class="card-footer"><a href="/blog/article">
                        </a><div class="row"><a href="/blog/article">
                            </a><div class="col text-center"><a href="/blog/article">
                                </a><ul class="list-inline mb-0"><a href="/blog/article">
                                    </a><li class="list-inline-item pr-4"><a href="/blog/article">
                                        </a><a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item pr-4">
                                        <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
            <a href="/blog/article">
                </a><div class="card shadow-sm shadow--hover"><a href="/blog/article">
                    <img alt="Image placeholder" class="card-img-top" src="/assets/prv/img-2-800x600-c21510bce6aca455afee5cd0f044547a148f12ac944cefe48f40fcd794d8b98c.jpg">
                    <div class="card-body py-5 text-center">
                        <h5 class="lh-150">How to find the right design for your specific product</h5>
                        <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                    </div>
                    </a><div class="card-footer"><a href="/blog/article">
                        </a><div class="row"><a href="/blog/article">
                            </a><div class="col text-center"><a href="/blog/article">
                                </a><ul class="list-inline mb-0"><a href="/blog/article">
                                    </a><li class="list-inline-item pr-4"><a href="/blog/article">
                                        </a><a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item pr-4">
                                        <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
            <a href="/blog/article">
                </a><div class="card shadow-sm shadow--hover"><a href="/blog/article">
                    <img alt="Image placeholder" class="card-img-top" src="/assets/prv/img-3-800x600-8f32cee4629a6f632e63ee7dfc618aa0f9572a0ae9e05e5effd2ed5d37e2c03c.jpg">
                    <div class="card-body py-5 text-center">
                        <h5 class="lh-150">How to win buyers and influence sales with marketing</h5>
                        <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                    </div>
                    </a><div class="card-footer"><a href="/blog/article">
                        </a><div class="row"><a href="/blog/article">
                            </a><div class="col text-center"><a href="/blog/article">
                                </a><ul class="list-inline mb-0"><a href="/blog/article">
                                    </a><li class="list-inline-item pr-4"><a href="/blog/article">
                                        </a><a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item pr-4">
                                        <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Index Path -->
    <div class="mt-lg text-center">
        <a class="btn btn-dark btn-circle shadow" href="/blog/index">Blog</a> 
    </div>
</section>