<section class="slice slice-lg">
    <span class="tongue tongue-top tongue-primary"><i class="fas fa-angle-up"></i></span>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-weight-400">Demandez votre devis pour votre mutelle <span class="font-weight-700">seniors</span></h3>
                <div class="mt-5">
                    <%= link_to contrats_selection_path, class:'btn btn-primary btn-circle btn-translate--hover px-4' do %>
                        Demandez votre devis
                        <span class="badge badge-pill badge-danger text-sm">à partir de 50€</span>
                    <%end%>
                    <!-- <%= link_to "Contactez-nous", root_path, class:"btn btn-link" %> -->
                </div>
            </div>
        </div>
    </div>
</section>