<!-- Purpose-website-ui-kit-v1.1.3/pages/careers-single.html -->
<main>

    <!-- Spotlight -->
    <%= render "contrats/pagebanner", page_title: @title %>

    <section class="slice slice-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow mt--200">
                        <div class="card-body px-lg-5 py-lg-5">
                            <p>L’assurance accidents de la vie permet de couvrir les dommages domestiques ainsi que ceux de la vie privée. En France, 11 millions de personnes seraient
                            victimes d’accidents de la vie privée (bricolage, jardinage, sport…) selon l’INPES. Il ne faut pas négliger cette garantie, car un accident peut vite arriver.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Quels risques couvre l’assurance accidents de la vie ?</h4>
                            <p>Cette assurance couvre deux types d’accidents, domestique qui concerne les accidents à son domicile (jardin, garage…) et les accidents en dehors de chez soi,
                            dit accidents privés. En clair, il s’agit de tout accident corporel à n’importe quel moment de la journée qu’aucune autre assurance prendrait en compte.
                            Toutefois les accidents professionnels ne sont pas pris en compte par cette assurance.</p>
                            <p>Pour bien comprendre cette assurance, nous parlons d’accidents de la vie courante qui regroupent : accidents de sport, accidents domestiques,
                            accidents de loisirs et de vacances faisant forcément partie de la vie privée.</p>
                            <p>De plus, cette assurance ne prend pas en charge les accidents matériels, que corporels. Si vous avez un accident de voiture, votre personne sera
                            prise en charge par une rente ou un capital, excluant le remboursement de la voiture.</p>
                            <p>L’assurance couvre les risques de la vie courante, une petite blessure n’enclenche pas l’assurance, seuls les accidents corporels entrainant un niveau
                            d’invalidité grave sont pris en charge. L’Assurance maladie considéré qu’une personne est invalide quand sa capacité de travail est réduite de 2/3.
                            La garantie accident de la vie prend le relai pour compenser le manque de revenus.</p>
                            <p>Elle intervient aussi en cas de décès afin de protéger votre famille par une rente ou un capital.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Précisément, quels événements couvrent cette assurance ?</h4>
                            <p>Cette assurance couvre de nombreux évènements :</p>
                            <ul>
                                <li>Agression</li>
                                <li>Accident domestique</li>
                                <li>Accident de sport</li>
                                <li>Maladie contractée dans un hôpital...</li>
                            </ul>
                            <p>Toutefois, les accidents de travail et de la route ne sont généralement pas couverts.</p>
                            <p>Cette assurance permet de vous amener en plus d’une rente ou d’un capital, d’autres aides importantes qui peuvent être négocié au moment de la signature du contrat.</p>
                            <ul>
                                <li>Aide à domicile</li>
                                <li>Véhicule adapté</li>
                                <li>Logement adapté</li>
                                <li>Indemnisation pour souffrances endurées</li>
                                <li>Indemnisation pour préjudice esthétique</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>