<!-- Purpose-website-ui-kit-v1.1.3/pages/careers-single.html -->
<main>
    <!-- Spotlight -->
    <% content_for :pagebanner_class, 'slice slice-xl pb-200 opacity-6 professionnal-pagebanner-bg' %>
    <%= render "contrats/pagebanner", page_title: @title %>

    <section class="slice slice-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow mt--200">
                        <div class="card-body px-lg-5 py-lg-5">
                            <p>Comment, Pourquoi, Qui peut souscrire à une complémentaire santé ? de nombreuses questions se posent à ce sujet, et nous vous aider à y répondre</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">L’assurance maladie VS complémentaire santé</h4>
                            <p>L’assurance maladie ne rembourse pas la totalité des dépenses santé, voire dans certains cas, la prise en charge est impossible.
                            La fonction de la complémentaire santé est de rembourser le ticket modérateur (le reste à charge).</p>
                            <p>La complémentaire santé peut être souscrite par une multitude d’organisme : mutuelle, assurance santé, prévoyance et institution bancaire.</p>
                            <p>Toutes les personnes ayant un numéro de sécurité sociale et résidant en France ont le droit de souscrire à une complémentaire santé en fonction évidemment de leurs régimes.</p>
                            <ul>
                                <li>Régime général</li>
                                <li>Régime étudiant</li>
                                <li>Régime agricole</li>
                                <li>Régime indépendant ou artisan</li>
                                <li>Régime Alsace Moselle pour tous les habitants de cette région</li>
                            </ul>
                            <p>La complémentaire santé n’est pas obligatoire sauf dans le cas d’une mutuelle collective qui oblige l’employeur à souscrire une assurance santé pour ces employés (Loi ANI).</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Les remboursements de la complémentaire santé</h4>
                            <p>La complémentaire santé rembourse ce que l’assurance maladie ne prend pas en charge selon les garanties. Voici la liste en détail :</p>
                            <ul>
                                <li>Dépassements honoraires</li>
                                <li>Ticket modérateur</li>
                            </ul>
                            <p>En clair, elle prend en charge les différents postes santé que la Sécurité sociale ne prend pas.</p>
                            <p>Le prix d’une complémentaire santé varie en fonction de l’âge, sexe, zone géographique, situation professionnelle, ayant droit
                            (inscrit sur le contrat, revenus) ... Attention, certaines mutuelles peuvent facturer des frais de dossier. Il ne faut pas hésiter
                            pas à faire un devis mutuelle santé pour comparer les différentes formules.</p>
                            <p>De plus, il faut se renseigner auprès de sa complémentaire santé pour savoir si oui ou non un délai de carence (délai d’attente)
                            existe ou pas. C’est une période pendant laquelle les garanties donc remboursements ne peuvent être appliqués tout de suite.</p>
                            <p>Pour bien se faire rembourser, mieux vaut souscrire un contrat « responsable ». Ce dernier aura pour objectif de responsabiliser
                            le patient sur les démarches à suivre qui seront coordonnées. Le but étant de réduire les dépenses santé.</p>
                            <p>Les complementaires santé « responsables » doivent suivre un cahier des charges imposé par le gouvernement.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Les aides pour souscrire à une complémentaire santé</h4>
                            <p>Pour souscrire à une complémentaire santé, certaines aides existent comme l’ACS, elle peut être demandé sous certaines conditions de résidence et ressources.</p>
                            <p>L’aide complémentaire santé existe toujours, seulement elle évolue depuis 2019 vers la complémentaire santé solidaire, qui regroupe aussi la CMU.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Pourquoi choisir LHEL pour votre complémentaire santé ?</h4>
                            <p>Le prix d’une mutuelle santé varie en fonction de pleins de critères, l’âge, la zone géographique, le régime d’affiliation, le sexe, le statut professionnel</p>
                            <p>Les prix peuvent varier énormément selon le profil et l’âge allant pour un étudiant en moyenne à 400 euros jusqu’à 1000 pour un retraité. Cela reste une moyenne, selon les garanties souhaitées, ce montant peut varier énormément.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Comment résilier sa mutuelle santé ?</h4>
                            <p>A partir du 1er décembre 2020, sous la loi Hamon vous pourrez <%= link_to 'résilier', contrats_resiliation_path %> votre mutuelle santé sans motifs. Pour l’instant, jusqu’au changement la loi Chatel ne le permet sauf sous certaines réserves.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Pourquoi choisir LHEL pour trouver son devis ?</h4>
                            <p>Tout simplement, LHEL en tant que spécialiste des mutuelles santé comparera et vous évitera les nombreux pièges, comme le tiers payant qui permet de bénéficier
                            d’un remboursement immédiat ou encore les garanties et les remboursements qui doivent être bien stipulés sur le contrat de votre complémentaire santé.</p>
                            <p>Le cabinet LHEL est impartial et gratuit, nous voulons créer une relation de confiance sur la durée, pour cela nous misons sur la qualité de notre
                            travail et notre expérience. Votre dossier sera suivi de A à Z, et même bien plus, car nous prendrons régulièrement de vos nouvelles (1 à 2 fois) au cours de l’année.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>