<!-- Purpose-website-ui-kit-v1.1.3/pages/careers-single.html -->
<main>
    <!-- Spotlight -->
    <%= render "contrats/pagebanner", page_title: @title %>

    <section class="slice slice-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow mt--200">
                        <div class="card-body px-lg-5 py-lg-5">
                            <p>Les dents servent à parler, manger et sourire !!!! Pour entretenir ce jolie sourire, il faut souvent avoir recours à des soins dit « conservateurs » : dévitalisation, détartrage, prothèse dentaire… qui coutent très chers. Heureusement il existe des mutuelles santé qui couvrent très bien ce genre de dépenses.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Pourquoi avoir une bonne mutuelle dentaire ?</h4>
                            <p>Une mauvaise hygiène dentaire entraine généralement des problèmes de santé plus grave derrière. La dentition est l’un des éléments de notre corps les plus importants, en effet une carie, un problème sur un nerf peut entrainer des maux de tête, de dos … C’est alors, que le dentiste intervient, et qu’on s’aperçoit que notre mutuelle n’est pas adaptée à nos besoins.</p>
                            <p>Les frais dentaires sont l’une des dépenses les plus mal remboursées par l’Assurance maladie, du fait de l’écart entre les tarifs pratiqués et la base de remboursement. Selon un sondage, 90% des Français optent à cause de cela pour une complémentaire santé adaptée.</p>
                            <p>Un exemple concret se trouve au niveau de la pose d’implants dentaires, soins dit « chirurgicaux » pas du tout remboursé par la Sécurité sociale et pour laquelle la facture peut atteindre rapidement les 700 euros. L’assurance maladie couvre à 70% la majorité des soins dentaires sur la base du tarif conventionnel. Le reste est à votre charge, donc pour réduire vos frais, il n’y a qu’une seule solution, souscrire une bonne complémentaire santé.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Comment souscrire à la bonne mutuelle dentaire ?</h4>
                            <p>Généralement, nous recommandons aux assurés de choisir une mutuelle qui propose des garanties importantes car la facture peut rapidement augmenter chez un dentiste, surtout si vous êtes sujet aux problèmes dentaires. Le mieux reste d’analyser ses besoins ainsi que ce de votre conjoint ou de vos enfants pour anticiper tous problèmes qui pourrait subvenir.</p>
                            <p>Pour cela, vous devez regarder les remboursements que votre mutuelle propose. Une mutuelle dentaire doit normalement couvrir 100% des frais dentaires dit conservateurs (détartrage, prévention carie, dévitalisation…)</p>
                            <p>En clair, il existe 3 modèles de remboursement :</p>
                            <ul>
                                <li>Remboursement forfaitaire : vous disposez d’une somme maximum allouée pour vos soins dentaires (plafond dentaire), si ce plafond est dépassé le reste est à votre charge.</li>
                                <li>Remboursement en pourcentage : fixé en pourcentage sur la base du tarif conventionnel de l’Assurance maladie. Si une mutuelle vous propose un taux à 400%, elle vous remboursera jusqu’à 4 fois le montant de la part prise en charge par la Sécurité sociale.</li>
                                <li>Remboursement total avec la réforme 100% santé avec un reste à charge zéro</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Meilleure mutuelle dentaire, allo LHEL</h4>
                            <p>LHEL vous trouvera grâce à notre large réseau de mutuelles et notre expérience la meilleure formule santé dentaire et au meilleur prix.</p>
                            <p>Pour ce faire, nous mettons de nombreux éléments en concurrence en fonction de vos besoins :</p>
                            <ul>
                                <li>Garanties ;</li>
                                <li>Plafond et taux de remboursements ;</li>
                                <li>Exclusions ;</li>
                                <li>Délai de carence...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>