<!-- Purpose-website-ui-kit-v1.1.3/pages/careers-single.html -->
<main>

    <!-- Spotlight -->
    <section class="slice slice-xl pb-200 bg-secondary">
        <div class="container pt-lg">
            <div class="row row-grid justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="h2 mb-4">Mutuelle étudiante</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="slice slice-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow mt--200">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Pourquoi souscrire à une mutuelle étudiante ?</h4>
                            <p>La mutuelle étudiante est souvent associée à un manque de qualité et d’écoute. Et pourtant, la perle rare existe et nous pouvons la dénicher pour vous.</p>
                            <p>Petit point important, la disparition de la Sécurité sociale étudiante le 31 aout 2019, amenant avec elle, la cotisation de 217 euros payée auparavant. Maintenant tous les étudiants sont affiliés obligatoirement au régime de l’Assurance maladie.</p>
                            <p>Autre point, les enfants sont rattachés à la mutuelle familiale aussi longtemps que le contrat le prévoit, généralement jusqu’à 25-26 ans. Toutefois, certaines mutuelles peuvent en général augmenter les tarifs pour les enfants étudiants, il est mieux alors de résilier le contrat familiale afin de prendre une mutuelle étudiante.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Quelles garanties doit-on souscrire dans une mutuelle santé étudiante ?</h4>
                            <p>Les remboursements de la sécurité sociale sont souvent partiels, donc une complémentaire santé est généralement indispensable pour compléter les frais d’hospitalisation, dentaires et optiques qui sont habituellement très couteux.</p>
                            <p>Les garanties conseillées, se calcule en fonction du profil de chacun, il est nécessaire de trouver le juste milieu entre les prestations et les formules proposées.</p>
                            <P>Pour ce faire, de nombreuses formules existent, comme par exemple « l’hospitalisation seule » qui n’inclut comme prestation que la prise en charge des frais d’hospitalisation.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Les différentes aides</h4>
                            <p>Les étudiants indépendants qui n’ont pas de faibles ressources, peuvent bénéficier d’aides.</p>
                            <p>La CMU-C (protection universelle maladie) est une prestation sociale qui permet l’accès au soin, le remboursement des soins, des médicaments et prestations à toutes personnes résidant en France.</p>
                            <p>L’ACS (Assistance complémentaire santé) qui comme son nom l’indique, aidera financièrement les revenus modestes, au-dessus de la CMU-C à bénéficier d’une complémentaire santé.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Des critères à voir avant de souscrire à une mutuelle étudiante</h4>
                            <p>Avant de vous engager avec une mutuelle étudiante, il est important de vérifier de nombreux points :</p>
                            <ul>
                                <li>Les garanties ;</li>
                                <li>Les garanties d’exclusions ;</li>
                                <li>Remboursement sur les dépassements d’honoraires ;</li>
                                <li>Délai de carence</li>
                                <li>Remboursements consultations…</li>
                            </ul>
                            <p>Ses nombreux points permettront de déterminer si la mutuelle correspond à vos besoins.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Que faire si je suis en job étudiant, alternance, saisonnier... ou je pars à l’étranger, Erasmus.</h4>
                            <p>Nous allons vous indiquer les cas de changement sur lesquels vous pourriez faire face à l’avenir.</p>
                            <p>Le premier cas le plus fréquent est si une entreprise vous embauche en tant que salarié (cas d’un contrat en alternance aussi) elle aura l’obligation selon la loi Ani de vous fournir une complémentaire santé.</p>
                            <p>Deuxième cas, si vous partez à l’étranger pour étudier, voyager, v.i.e, formation, il vous faudra contacter votre mutuelle pour les prévenir et savoir si vous ne devez pas changer.</p>
                            <p>Dernier cas, le programme Erasmus dans lequel la sécurité sociale vous couvre toujours sous la Carte européenne d’assurance maladie (CEAM). Pour la complémentaire santé, il faut vous renseigner mais cela reste envisageable pour une durée déterminée.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Pourquoi utiliser LHEL pour choisir votre mutuelle étudiante ?</h4>
                            <p>Afin de trouver la meilleure mutuelle santé étudiante pour couvrir tous vos besoins, il faut mettre en concurrence toutes les offres du marché.</p>
                            <p>LHEL vous trouvera la meilleure mutuelle avec les garanties qui vous corresponde le mieux au meilleur prix grâce à notre large portefeuille de partenaires.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">L’aide d’une complémentaire ACS devient la complémentaire santé solidaire</h4>
                            <p>L’aide au paiement d’une complémentaire santé est tout simplement une aide qui réduira le montant de votre cotisation à une complémentaire santé.</p>
                            <p>Depuis le 1er novembre 2019, ACS et la couverture maladie universelle (CMU-C) changent progressivement pour devenir la complémentaire santé solidaire (CSS).</p>
                            <p>Tout comme l’ACS, la complémentaire santé solidaire permettra aux bénéficiaires de ne pas payer les dépenses de santé chez le dentiste, le médecin, en pharmacie, à l’hôpital car l’Assurance maladie assurera le relaie. Elle permettra de bénéficier de tarifs sans dépassements chez le médecin et de ne plus payer la plupart des prothèses dentaires, auditives et les lunettes.</p>
                            <p>Les foyers paieront une participation financière à la place de l’attestation chèque qu’il fallait jusqu’à présent pour obtenir une réduction. Toutefois, les chèques restent encore valables s’ils n’ont pas été utilisé avant le 1er novembre, ils donnent droit à la complémentaire santé solidaire.</p>
                            <p>Vous pouvez conserver votre contrat ACS souscrit avant le 1er novembre 2019 jusqu’à la fin définitive.</p>
                            <p>Enfin, vous pouvez demander si votre mutuelle santé figure sur la liste des organismes complémentaire gérant la complémentaire santé solidaire, cela vous permettra de demander cette aide sans attendre la fin de l’ACS.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <section class="slice slice-lg">

        <span class="tongue tongue-top tongue-primary"><i class="fas fa-angle-up"></i></span>

        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 text-center">
                    <h3 class="font-weight-400">Demandez votre devis pour votre mutelle <span class="font-weight-700">seniors</span></h3>
                    <div class="mt-5">
                        <%= link_to root_path, target:"blank", class:'btn btn-primary btn-circle btn-translate--hover px-4' do %>
                            Demandez votre devis
                            <span class="badge badge-pill badge-danger text-sm">à partir de 50€</span>
                        <%end%>
                        <%= link_to "Contactez-nous", root_path, class:"btn btn-link" %>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>