<main>
    <section class="header-account-page bg-gradient-primary d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12">
                    <!-- Salute + Small stats -->
                    <div class="row align-items-center mb-4">
                        <div class="col-md-5 mb-4 mb-md-0">
                            <span class="h2 mb-0 text-white d-block">Formulaire de demande</span>
                            <span class="text-light">Remplissez simplement le formulaire ci-dessous et nous vous répondrons rapidemnat :)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice">
        <div class="container">
            <div class="row row-grid">
                <div class="col-lg-3">

                    <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover" class="" style="">
                        <div class="card">
                            <div class="card-header py-3">
                                <span class="h6">Sections</span>
                            </div>
                            <div class="list-group list-group-sm list-group-flush">
                                <div class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-user-circle mr-2"></i>
                                        <span>Coordonnées</span>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-cog mr-2"></i>
                                        <span>Informations</span>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-credit-card mr-2"></i>
                                        <span>Besoins</span>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-bell mr-2"></i>
                                        <span>Informations complémentaires</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-9">
                    <div class="card bg-gradient-warning border-0 shadow mb-4">
                        <div class="card-body py-3">
                            <div class="row row-grid align-items-center">
                                <div class="col-lg-8">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <h5 class="text-white mb-0">Saississez ci- dessous les informations nécessaire à l'étude de votre dossier</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form>
                        <!-- COORDONNEES -->
                        <div class="page-inner-header mb-4">
                            <h5 class="mb-1">Vos coordonnées</h5>
                            <p class="text-muted mb-0"></p>
                        </div>
                            <div class="custom-control custom-radio mb-3">
                                <input type="radio" name="custom-radio-1" class="custom-control-input" id="customRadio1" checked="">
                                <label class="custom-control-label" for="customRadio1">Madame</label>
                            </div>
                            <div class="custom-control custom-radio mb-3">
                                <input type="radio" name="custom-radio-1"  class="custom-control-input" id="customRadio2">
                                <label class="custom-control-label" for="customRadio2">Monsieur</label>
                            </div>
                            <div class="custom-control custom-radio mb-3">
                                <input type="radio" name="custom-radio-1"  class="custom-control-input" id="customRadio3">
                                <label class="custom-control-label" for="customRadio3">Autre</label>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Prénom</label>
                                    <input class="form-control" type="text" placeholder="Saisissez votre prénom">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Nom</label>
                                    <input class="form-control" type="text" placeholder="Et votre nom">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Date anniversaire</label>
                                    <input type="text" class="form-control" data-toggle="date" placeholder="Selectionnez votre date anniversaire">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Ville</label>
                                    <input type="text" class="form-control" placeholder="Votre ville">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Email</label>
                                    <input class="form-control" type="email" placeholder="nomprénom@exemple.com">
                                    <small class="form-text text-muted mt-2">Nous vous contacterons à cette adresse pour la suite du traitement de votre dossier. Merci de vérifier l'exactitude de votre adresse</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Téléphone</label>
                                    <input class="form-control" type="text" placeholder="+33 6 36 65 65 65">
                                    <small class="form-text text-muted mt-2">Nous vous contacterons sur ce numéro de téléphone pour la suite du traitement de votre dossier. Merci de vérifier l'exactitude de votre numéro</small>
                                </div>
                            </div>
                        </div>
                        <!-- COORDONNEES -->

                        <!-- INFORMATIONS SUR LE CONTRAT -->
                        <div class="pt-5 mt-5 delimiter-top">
                            <div class="page-inner-header mb-4">
                                <h5 class="mb-1">Informations personnelles</h5>
                                <p class="text-muted mb-0">Dites nous en plus sur votre situation et vos envies</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                      <div class="form-group">
                                        <label class="form-control-label">Régime sociale</label>
                                        <select class="form-control form-control-sm">
                                            <option>Salarié</option>
                                            <option>Sans emploi</option>
                                            <option>Autre, vous pouvez préciser votre situation dans le paragraphe en bas de page</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Quand souhaitez-vous que votre contrat débute ?</label>
                                        <input type="text" class="form-control" data-toggle="date" placeholder="Selectionnez la date">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Qui souhaitez-vous assurer ?</label>
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" name="custom-radio-2" class="custom-control-input" id="customRadio4" checked="">
                                            <label class="custom-control-label" for="customRadio4">Vous</label>
                                        </div>
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" name="custom-radio-2"  class="custom-control-input" id="customRadio5">
                                            <label class="custom-control-label" for="customRadio5">Vous et votre conjoint</label>
                                        </div>
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" name="custom-radio-2"  class="custom-control-input" id="customRadio6">
                                            <label class="custom-control-label" for="customRadio6">Vous et votre famille</label>
                                        </div>
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" name="custom-radio-2"  class="custom-control-input" id="customRadio7">
                                            <label class="custom-control-label" for="customRadio7">Vous et vos enfants</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- INFORMATIONS SUR LE CONTRAT -->

                        <!-- INFORMATIONS SUR LES OPTIONS -->
                        <div class="pt-5 mt-5 delimiter-top">
                            <div class="page-inner-header mb-4">
                                <h5 class="mb-1">Vos besoins</h5>
                                <p class="text-muted mb-0">Quel niveau de remboursement souhaitez-vous ?</p>

                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <!-- Default input slider -->
                                    <div class="input-slider-container mb-5">
                                        <label class="form-control-label">Soins courants: médecine générale, pharmacie, radios ...</label>
                                        <div id="input-slider" class="input-slider" data-range-value-min="1" data-range-value-max="10"></div>
                                        <!-- Input slider values -->
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <span id="input-slider-value" class="range-slider-value" data-range-value-low="2"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Red input slider -->
                                    <div class="input-slider-container mb-5">
                                        <label class="form-control-label">Dentaire: dentiste, prothèse, sans (j'arrive pas à relire ce que tu as écris là ^^), etc ...</label>
                                        <div id="input-slider-red" class="input-slider input-slider--red" data-range-value-min="1" data-range-value-max="10"></div>
                                        <!-- Input slider values -->
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <span id="input-slider-red-value" class="range-slider-value" data-range-value-low="2"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Yellow input slider -->
                                    <div class="input-slider-container mb-5">
                                        <label class="form-control-label">Optique: lentilles, lunettes, chirugie ofta, refractaire, etc ...</label>
                                        <div id="input-slider-yellow" class="input-slider input-slider--yellow" data-range-value-min="1" data-range-value-max="10"></div>
                                        <!-- Input slider values -->
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <span id="input-slider-yellow-value" class="range-slider-value" data-range-value-low="2"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Yellow input slider -->
                                    <div class="input-slider-container mb-5">
                                        <label class="form-control-label">Hospitalisation: frais de séjour, frais de transport, chirurgie, etc ...</label>
                                        <div id="input-slider-cyan" class="input-slider input-slider--cyan" data-range-value-min="1" data-range-value-max="10"></div>
                                        <!-- Input slider values -->
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <span id="input-slider-cyan-value" class="range-slider-value" data-range-value-low="2"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- INFORMATIONS SUR LES OPTIONS -->

                        <!-- INFORMATIONS COMPLÉMENTAIRES -->
                        <div class="pt-5 mt-5 delimiter-top">

                            <div class="page-inner-header mb-4">
                                <h5 class="mb-1">Informations complémentaires</h5>
                                <p class="text-muted mb-0">Vous pouvez ajouter un paragrpahe ci-dessous pour nous donner des informations que vous trouvez pertinentes.</p>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="form-control-label">Informations</label>
                                            <textarea class="form-control" placeholder="Écrivez votre paragraphe ici" rows="3"></textarea>
                                            <small class="form-text text-muted mt-2"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- INFORMATIONS SUR LES OPTIONS -->

                        <!-- SUBMIT -->
                        <div class="pt-5 mt-5 delimiter-top">
                            <button type="button" class="btn btn-sm btn-primary">Envoyer vos informations</button>
                            <button type="button" class="btn btn-link"></button>
                        </div>
                        <!-- SUBMIT -->
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <section class="slice slice-lg bg-primary">

        <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 text-center">
                    <h3 class="font-weight-400 text-white">Demandez votre devis pour votre mutelle <span class="font-weight-700">seniors</span></h3>
                    <div class="mt-5">
                        <%= link_to root_path, target:"blank", class:'btn btn-secondary btn-circle btn-translate--hover px-4' do %>
                            Demandez votre devis
                            <span class="badge badge-pill badge-danger text-sm">à partir de 50€</span>
                        <%end%>
                        <%= link_to "Contactez-nous", root_path, class:"btn btn-link" %>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>