<!-- Purpose-website-ui-kit-v1.1.3/pages/careers-single.html -->
<main>
    <!-- Spotlight -->
    <% content_for :pagebanner_class, 'slice slice-xl opacity-6 professionnal-pagebanner-bg' %>
    <%= render "contrats/pagebanner", page_title: @title %>

    <section class="slice slice-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow mt--200">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Définition de l’assurance homme clé ?</h4>
                            <p>L’assurance homme clé est souscrite par l’entreprise, à son profit, sur la personne « Homme Clé » généralement le chef d’entreprise ou directeur général.
                            Elle compense le préjudice qui pourrait subvenir lors du décès ou de l’incapacité de cette personne à exercer son activité au sein de l’entreprise. Ce préjudice
                            se caractérise par le versement d’une indemnité en fonction des pertes d’exploitation.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Pourquoi souscrire à une assurance homme clé ?</h4>
                            <p>L’assurance homme clé prendra le relai dans de nombreux domaines, comme les frais fixe (loyer, salaires, emprunts…) et la perte du chiffre d’affaires mais aussi
                            dans la gestion des ressources humaines en trouvant un remplaçant, en formant un collaborateur.</p>
                            <p>Selon l’INSEE, 25% des petites entreprises font faillite au décès du chef d’entreprise.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Précisément, qui est l’homme clé ?</h4>
                            <p>L’homme clé, c’est une personne qui joue un rôle important au sein de la société. Cela peut être le dirigent, un adjoint, un collaborateur ou un salarié à forte valeur ajoutée.</p>
                            <p>Ce contrat s’adresse à toutes les entreprises quelque soit leurs formes juridiques, le seul détenteur du contrat reste l’entreprise.</p>
                            <p>Le contrat d’assurance Homme clé est un contrat de prévoyance qui a pour but de compenser les pertes.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Quel est le cout de l’assurance ?</h4>
                            <p>La cotisation est calculée en fonction de plusieurs critères :</p>
                            <ul>
                                <li>L’âge de la personne</li>
                                <li>Le montant du capital</li>
                                <li>L’état de santé de l’homme clé (certaines assurances veulent un bilan médical pour pouvoir assurer la personne)</li>
                            <ul>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Que couvre l’assurance homme clé ?</h4>
                            <p>L’assurance homme clé couvre le décès ou la perte totale d’autonomie (PTIA), l’invalidité permanente à la suite d’un accident ou d’une maladie.
                            Dans les deux cas, l’entreprise percevra un capital alors que pour un arrêt de travail, ça sera des indemnités journalières.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Les points importants à savoir</h4>
                            <p>Le contrat Homme clé permet de bénéficier d’avantages fiscaux car il permet de déduire du résultat imposable en cours d’exercice, le montant des primes versées.</p>
                            <p>Avant de souscrire à ce contrat, nous conseillons d’évaluer le préjudice financier que pourrait subir l’entreprise en cas de sinistre. Pour ce faire, évaluer tous
                            vos besoins avec votre expert-comptable ou votre conseiller financier pour trouver au mieux les garanties.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>