<!-- Purpose-website-ui-kit-v1.1.3/pages/careers-single.html -->
<main>

    <!-- Spotlight -->
    <% content_for :pagebanner_class, 'slice slice-xl opacity-6 professionnal-pagebanner-bg' %>
    <%= render "contrats/pagebanner", page_title: @title %>

    <section class="slice slice-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow mt--200">
                        <div class="card-body px-lg-5 py-lg-5">
                            <p>En France, un grand nombre de personnes ne veulent pas s’appareiller d’une paire de lunettes, de prothèses dentaires, d’une aide auditive car souvent jugé trop onéreuses.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Comprenons ensemble 100% Santé</h4>
                            <p>Cette réforme permet de donner l’accès à de meilleurs soins, en s’équipant de lunettes, d’aides auditives, de soins dentaires avec un remboursement
                            complet de l’Assurance maladie et des mutuelles santé.</p>
                            <p>En clair, le 100% santé donne accès a des soins de qualité avec un zéro reste à charge.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">En quoi consiste précisément le mutuelle 100% santé ?</h4>
                            <p>Elle permet d’enlever le zéro reste à charge (RAC) pour les secteurs de l’audiologie, de l’optique et du dentaire qui rentre dans le cadre du « panier 100% santé ».
                            Cela signifie que l’assuré ne paiera plus rien pour tous ses soins.</p>
                            <p>Cette réforme du 1er Janvier 2020, demande une seule condition, que la mutuelle santé souscrite par l’assuré soit dite « responsable ». De plus, le 100% santé
                            ne fera pas augmenter le prix des mutuelles et donc des cotisations, et les organismes s’engagent à donner plus de visibilité aux contrats afin de mieux les comparer.</p> 
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Progression de la réforme depuis 2019</h4>
                            <p>La réforme 100% santé c’est mise en place petit à petit dans le temps, trois étapes dans l’évolution sont à retenir :</p>
                            <p>En 2019, plafonnement des tarifs en dentaire et audiologie et augmentation de 100 euros du remboursement des aides auditives.</p>
                            <p>Au 1er Janvier 2020, remboursement total pour l’optique et une partie du dentaire, et abaissement du plafond et augmentation du remboursement pour l’audiologie.</p>
                            <p>Enfin, en 2021 la loi « 100% santé » s’appliquera aux trois secteurs, 0 reste à charge pour l’optique, dentaire et soins auditifs.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Rentrons ensemble dans les détails de cette réforme</h4>
                            <p>Pour procéder à un bilan concret de ce changement, nous allons analyser par secteur :</p>
                            <p>En optique, vous aurez le droit de choisir entre 17 paires de lunettes d’une valeur de 30 euros. Une personne avec un tarif de 105 euros maximum
                            (30 euros de montures) sera 100% rembourser. C’est-à-dire que la sécurité sociale prend une partie, et l’autre est complétée par la mutuelle santé.</p>
                            <p>En audiologie, la réforme était très attendue c	ar 1personne sur 3 n’a pas les moyens de s’équiper. Grâce à la mutuelle 100%, de nombreuses personnes
                            vont avoir accès aux soins auditifs.</p>
                            <p>Dentaire, beaucoup de soins vont être 100% remboursés comme les prothèses dentaires.</p>
                            <p>Cette évolution va permettre à 20% de Français aux revenus dit modeste, de pouvoir s’équiper.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Est-ce que le 100% prend tout en charge et est-ce de qualité ?</h4>
                            <p>Rassurez-vous, les matériaux soumis au panier « 100% santé » ne sont pas de moins bonne qualité car ils doivent correspondre aux normes de qualité.</p>
                            <p>En revanche le 100% santé ne prend pas tout en charge, les matériaux et les techniques plus complexes sortent du cadre de la réforme, comme l’implantologie,
                            l’orthodontie et la parodontologie en dentaire. Pour l’optique, ce sont les lentilles de contact et la chirurgie réfractive qui ne rentre pas dans la réforme.
                            Et enfin pour l’audiologie, ce sont juste les piles de prothèses auditives.</p>
                            <p>Donc il est nécessaire, de faire attention à la complémentaire santé que nous prenons en fonction de ces besoins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>