<!-- Purpose-website-ui-kit-v1.1.3/pages/careers-single.html -->
<main>
    <!-- Spotlight -->
    <% content_for :pagebanner_class, 'slice slice-xl opacity-6 particular-pagebanner-bg' %>
    <%= render "contrats/pagebanner", page_title: @title %>

    <section class="slice slice-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow mt--200">
                        <div class="card-body px-lg-5 py-lg-5">
                            <p>La résiliation va changer au 1er décembre 2020, rendant le changement de mutuelle santé beaucoup facile que sous la loi Chatel. En effet, à partir de
                            cette date, tous les Français pourront rompre leurs contrats sans contrainte pour aller vers une autre assurance santé concurrente. Une seule condition
                            serait de terminer sa première année de contrat.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Analysons ensemble ce changement qui ne fait pas l’unanimité</h4>
                            <p>Sous la présidence de Emmanuel Macron, le marché des mutuelles et assurances santé a évolué, nous pouvons tout simplement parler aujourd’hui de libre concurrence.</p>
                            <p>Jusqu’à présent sous la loi Chatel, les assurés devaient attendre l’anniversaire du contrat pour résilier et envoyer une lettre avec accusé de réception deux mois à
                            l’avance. Et si toutefois, il voulait rompre avant la date d’échéance, il se devait de justifier d’une certaine situation pour annuler son contrat auprès de son organisme de santé.</p>
                            <p>Depuis 2014, la loi Hamon soumettait déjà les assurances auto et habitation à ces conditions, en décembre 2020 ça sera au tour des complémentaires santé, ce qui
                            semble aux yeux des assurés une bonne nouvelle. Effectivement, toutes les procédures de résiliation seront plus faciles car moins de contraintes, on renforce les droits
                            des consommateurs en leur permettant de comparer les offres santé et de faire jouer la concurrence plus facilement toute l’année dans un seul but, avoir de meilleures
                            garanties santé. D’après certains spécialistes, cela aurait pour objectif aussi d’augmenter la qualité des services dans les contrats séniors mais aussi étudiant souvent
                            négligés et disposant de mauvaises garanties.</p>
                            <p>Alors pourquoi cette loi ne fait pas l’unanimité ? Beaucoup de professionnel dans le milieu de la santé voit ce changement de mauvais augure. Pour les mutuelles, les
                            clients vont être plus volatiles, donc certains engagements comme le tiers payant vont être dure à tenir, rendant la situation des assurés à situation précaire encore plus sensible.</p>
                            <p>Les mutuelles ont besoin d’un certain « socle » d’assurés pour pouvoir tenir leurs engagements, sans cela, le système se fragilise d’après elles.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Que risque-t-il de se passer ?</h4>
                            <p>Cette loi Hamon qui réduit considérablement les contraintes sur les procédures d’échéance des contrats d’assurance, risque d’amener un rehaussement des cotisations qui
                            avait été déjà envisagé lors de la reforme 100% Santé.</p>
                            <p>Nous pensons que malheureusement le coût d’une mutuelle santé pour les assurés sera en moyenne de 2% de plus que maintenant. Il est évident que les assurances
                            chercheront à réduire l’alourdissement des dépenses dû à la reforme 100% santé mais aussi à la loi Hamon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>