<!-- Purpose-website-ui-kit-v1.1.3/pages/careers-single.html -->
<main>
    <!-- Spotlight -->
    <% content_for :pagebanner_class, 'slice slice-xl pb-200 opacity-6 professionnal-pagebanner-bg' %>
    <%= render "contrats/pagebanner", page_title: @title %> 

    <section class="slice slice-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow mt--200">
                        <div class="card-body px-lg-5 py-lg-5">
                            <p>C’est une complémentaire santé qui vient en renfort d’une autre complémentaire. En quelque sorte, cette assurance viendra couvrir ce que la première ne prend pas en charge. Très utile lors de mutuelle collective qui ne couvre pas tous les besoins.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Rentrons plus ensemble dans les détails</h4>
                            <p>C’est une assurance qui viendra combler tous les trous que votre première complémentaire ne prend pas en compte, en d’autres termes c’est une mutuelle santé sur-mesure.</p>
                            <p>Il est très important d’identifier ses besoins afin de choisir la complémentaire qui vous conviendra le mieux. Une fois que ce premier objectif est réalisé, il faudra comparer les différentes formules, pour cela LHEL sera là pour vous aider grâce à son expertise.</p>
                            <p>Si vous vous êtes aperçu que votre complémentaire santé, rembourser mal certains problèmes en regardant votre contrat ou lors d’un incident dans lequel elle avait un rôle à jouer, alors il faut impérativement changer d’assurance ou la compléter pour avoir de meilleurs remboursements.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">A qui s’adresse ce type de complémentaire ?</h4>
                            <p>La surcomplémentaire s’adresse à tout le monde, aux assurés qui ont déjà une mutuelle santé individuelle ou collective.</p>
                            <p>Oui, nous avons bien dit collective, même si la loi ANI oblige les entreprises privées à couvrir leurs salariés depuis 2016, elle n’oblige en rien aux sociétés à prendre les meilleures mutuelles santé.</p>
                            <p>En effet, cette loi a permis à de nombreux français de bénéficier d’une couverture santé en plus de l’assurance maladie, malheureusement la plupart des entreprises ont souscrit des complementaires santé pas chères pour répondre au panier de soins minimal demandé par la loi.</p>
                            <p>Pourtant, tout le monde n’est pas égal en termes de santé. Certains dans les entreprises sont en bonne santé tandis que d’autres ont des besoins plus importants comme les soins dentaires, optiques, maladies chroniques…. De plus, ces mutuelles ont tendances à très mal remboursé les frais liés à la médicine douce.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Quelques notions en matière de remboursement</h4>
                            <p>Il faut bien comprendre la partie remboursement quand vous souscrivez à une surcomplémentaire santé car il existe des règles spécifiques.</p>
                            <p>En effet, même si vous possédez une excellente couverture santé, vous ne pourrez profiter d’un remboursement supérieur à la somme globale de la dépense santé. En clair, si votre mutuelle santé rembourse à hauteur de 150% de la sécurité sociale et que votre surcomplémentaire rembourse à hauteur de 200%, vous ne pourrez accumuler les remboursements car vous avez atteint le maximum.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Les avantages et les inconvénients</h4>
                            <p>Le principal avantage de la surcomplémentaire vient de son caractère flexible car elle s’adapte aux besoins de l’assuré et lui assure une meilleure couverture tout en réalisant des économies.</p>
                            <p>Cependant, il existe quelques inconvénients, l’assureur lors de l’adhésion peut vous demander de remplir un questionnaire médical. Les remboursements ne se feront que si vous ne fournissez pas le détail des frais, car la Sécurité sociale ne sera pas en relation avec l’assureur de la surcomplémentaire. Enfin, le délai de carence peut dépasser largement celui d’une mutuelle classique, allant parfois jusqu’à 12 mois.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">L’objectif de LHEL</h4>
                            <p>L’objectif est clair, vous conseiller afin de trouver la surcomplémentaire santé la plus adaptée à vos besoins et éviter les frais dit « superficiels ».</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>