@media (min-width: 992px){
	.flip-dropdown-menu .flip-dropdown-toggle:after{
		clear: both;
	}

	.flip-border{
		border-top: 1px solid transparent;
	    border-right: 1px solid transparent;
	    border-bottom: 1px solid transparent;
		border-left: 1px solid transparent;
	}

	.flip-dropdown-menu li{
		position: relative;
	}

	.flip-dropdown-menu > li:hover{ background-color: transparent }
	.flip-dropdown-menu > li:hover > .flip-submenu{
		display: block;
	}

	.dropdown-menu > li:hover > .left{
		display: block;
		left: -192px;
	}
}
