@media (min-width: 992px){
	.flip-dropdown-menu{
		/*border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
		border-left: .3em solid;*/
		clear: both;
	}

	/*.flip-dropdown-menu .flip-dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.flip-dropdown-menu li{
		position: relative;
	}
	.flip-nav-item .flip-submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.flip-nav-item .flip-submenu-left{ 
		right:100%; left:auto;
	}
*/
	.flip-dropdown-menu > li:hover{ background-color: transparent }
	.flip-dropdown-menu > li:hover > .flip-submenu{
		display: block;
	}
}
